<footer class="footer-distributed">
    <div class="footer-right">
        <a href="https://www.facebook.com/people/Marwan-Alghadi/100010510052186/" target="_blank" rel="noopener noreferrer">
            <em class="fa fa-facebook"></em></a>
        <a href="https://ly.linkedin.com/in/marwan-algadi-445a151a3" target="_blank" rel="noopener noreferrer">
            <em class="fa fa-linkedin"></em></a>
        <a href="https://github.com/Marwan1998/registration-manager" target="_blank" rel="noopener noreferrer">
            <em class="fa fa-github"></em></a>
    </div>
    <div class="footer-left">
        <p class="footer-links">
            <a class="link-1" href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </p>
        <p>Characters &copy; 2021</p>
    </div>
</footer>
</body>
</html>