<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded selectNone" aria-label="Eleventh navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">RegMang</a>
            <div class="collapse navbar-collapse" id="navbarsExample09">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/home">Home</a>
                    </li>
                </ul>
                <li class="navbar-nav nav-item about">
                    <a class="nav-link" href="/add">New</a>
                </li>
                <li class="navbar-nav nav-item about">
                    <a class="nav-link" href="/search">Find</a>
                </li>
                <li class="navbar-nav nav-item about">
                    <a class="nav-link" href="#">Logout</a>
                </li>
            </div>
        </div>
    </nav>
</header>