<div class="col size">
    <div class="input-group card-body">
        <span class="input-group-text bg-info margin"><p class="leb">Website name</p></span>
        <span class="input-group-text text-secondary margin selectAll">GitHub</span>
    </div>
</div>