<%- include('partials/header', {title: 'home', csssurce: 'css/homePage.css'}); %>

           
<%- include('partials/navbar') %>

  <!-- <div class="container"> -->
  <div class="row rowEdited justify-content-center mt-5 selectNone mainDiv">
    <div class="col-md-5 text-center">
      <h2 class="heading"><em>Weclome Back <%= marwan='Marwan' %></em></h2> <!--TODO: To send this parameter-->
      <form method="POST">
        <div class="btn cursor">
          <!-- btn-groub-vert... -->
          <button type="submit" name="search" class="btn btn-primary fitDiv">
            <h4>Find A Website</h4>
          </button>
          <br><br>
          <button type="submit" name="new" class="btn btn-primary fitDiv">
            <h4>New Registration</h4>
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- </div> -->

<%- include("partials/footer") -%>