<%- include('partials/header', {title: 'log-in', csssurce: 'css/search.css'}); %>

<%- include('partials/navbar') %>
<br><br><br><br>

<form id="form" method="POST">
  <div class="formCont selectNone">
    <input type="text" placeholder="Search..." autofocus autocomplete="off" id="filterWebsite" />
    <ul id="websitesList">
      <!-- <button class="costomBtn fitDiv">About</button>
    <button class="costomBtn fitDiv">Base</button>
    <button class="costomBtn fitDiv">Blog</button>
    <input type="text"> -->
    </ul>
  </div>
</form>

  <script>
    // this array must be sent from te DB
    let websites = ['Goku', 'Naruto', 'Ichigo', 'Flash', 'Batman', 'Khaleesi', 'Luffy', 'Batman', 'Khaleesi', 'Steve Fox'];

    let ul = document.getElementById("websitesList");
    let renderWebsites = function (websites) {
      ul.innerHTML = "";
      for (const site of websites) {
        let a = document.createElement('a');
        a.innerText = site;
        a.addEventListener('click', () => {
          document.getElementById('filterWebsite').value = a.innerText;
          document.getElementById('form').submit()
        });
        ul.appendChild(a);
      }
    }

    // filter mechanism
    let input = document.getElementById('filterWebsite');
    let filterWebsites = function (event) {
      let keyword = input.value.toLowerCase();
      let filtered_websites = websites.filter(website => website.toLowerCase().indexOf(keyword) > -1);
      // this will render only after typing something, if search box is empty then render nothing.
      filtered_websites.length == websites.length ? renderWebsites([]) : renderWebsites(filtered_websites);
    }
    input.addEventListener('keyup', filterWebsites);
  </script>

<%- include("partials/footer") -%>