<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Find</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/css/search.css">
    <link rel="stylesheet" href="/public/css/general.css">
    <link rel="stylesheet" href="/public/css/footer.css" />
    <link type="css" rel="stylesheet" href="/public/css/icons/" />
  </head>

  <body>
    <header>
      <nav
        class="navbar navbar-expand-lg navbar-light bg-light rounded selectNone"
        aria-label="Eleventh navbar example"
      >
        <div class="container-fluid">
          <a class="navbar-brand" href="#">RegMang</a>
          <div class="collapse navbar-collapse" id="navbarsExample09">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
            </ul>
            <li class="navbar-nav nav-item about">
              <a class="nav-link" href="#">New</a>
            </li>
            <li class="navbar-nav nav-item about">
              <a class="nav-link" href="#">Find</a>
            </li>
            <li class="navbar-nav nav-item about">
              <a class="nav-link" href="#">Logout</a>
            </li>
          </div>
        </div>
      </nav>
    </header>
<br><br><br><br>

<form method="POST">
<div class="dropdown selectNone">
    <button type="button" onclick="myFunction()" class="btn btn-outline-success my-2 my-sm-2">Dropdown</button>
    <div id="myDropdown" class="dropdown-content">
      <input type="text" placeholder="Search.." id="myInput" autocomplete="off" onkeyup="filterFunction()" >
      <!-- <button class="costomBtn fitDiv">About</button>
      <button class="costomBtn fitDiv">Base</button>
      <button class="costomBtn fitDiv">Blog</button>
      <button class="costomBtn fitDiv">Contact</button>
      <button class="costomBtn fitDiv">Custom</button> -->
    </div>
  </div>
</form>
          

    <footer class="footer-distributed">
      <div class="footer-right">
        <a
          href="https://www.facebook.com/people/Marwan-Alghadi/100010510052186/"
        >
          <em class="fa fa-facebook"></em
        ></a>
        <a href="https://ly.linkedin.com/in/marwan-algadi-445a151a3">
          <em class="fa fa-linkedin"></em
        ></a>
        <a href="https://github.com/Marwan1998/characters">
          <em class="fa fa-github"></em
        ></a>
      </div>
      <div class="footer-left">
        <p class="footer-links">
          <a class="link-1" href="#">Home</a>
          <a href="#">About</a>
          <a href="#">Contact</a>
        </p>
        <p>Characters &copy; 2021</p>
      </div>
    </footer>

    <script>


// this array must be sent from te DB
let data = ['About', 'Base', 'Blog', 'Contact', 'Custom', 'Support', 'Tools'];

let myDropdown = document.getElementById("myDropdown");
for (const item of data) {
  let a = document.createElement('a');
  a.innerText = item;
  myDropdown.appendChild(a);
}

/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
let myFunction = () => document.getElementById("myDropdown").classList.toggle("show");

function filterFunction() {
  let input, filter, ul, li, a, i;
  input = document.getElementById("myInput");
  filter = input.value.toLowerCase();
  div = document.getElementById("myDropdown");
  a = div.getElementsByTagName("a");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toLowerCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}

    </script>
  </body>
</html>
